body{
  width: 1800px;
  margin: 0 auto;
}

.page{
  width: 100%;
  max-width: 1800px;
  height: 5500px;
}

.header{
  position: relative;
  width: 1800px;
  height: 1024px;
  background-image: url(images/header.png);
  background-repeat: no-repeat;

}
  .smartphone{
    position: relative;
    top: 258px;
    left: 786px;
    width: 716px;
    height: 948px;
    background-image: url(images/smartphone.png);
    z-index: 1;
  }
    .screen{
      position:relative;
      top:100px;
      left:  370px;
      width: 254px;
      height: 655px;
      background-image: url(images/screen.png);
      z-index: 2;
    }

    .header-text{
      position: relative;
      width: 440px;
      height: 300px;
      z-index: 2;
      color: white;
      font-size: 34px;
      bottom: 500px;
      left: 300px;

    }

    .header-text p
    {
      font-size:8px;
      margin-top: 15px;
    }
.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1800px;
  height: 1623px;

}
  .main-text{
    display: flex;
    position: relative;

    width: 1800px;
    height: 316px;

  }
  .main-text-left{
    position: relative;
    width: 570px;
    height: 378px;
    font-size: 34px;
    color: black;
    top: 100px;
    left: 317px;
  }
  .main-text-left p{
    font-size: 8px;
    margin-top: 15px;
    margin-bottom: 15px;

  }
  .main-text-right{
    position: relative;
    color: black;
    width: 570px;
    height: 165px;
    left: 350px;
    top: 150px;
      }
      .main-text-right p{
        font-size: 8px;
        margin-top: 15px;
        margin-bottom: 15px;
      }

  .blocks{
    display: flex;
    flex-wrap: wrap;
    width: 1650px;
    height: 560px;


  }

    .mini{
      width: 400px;
      height: 280px;
      color: white;

    }
    .mini p{
      font-size: 34px;
      margin: 15px;
      margin-top: 25px;

    }
    .mini h4{
      font-size: 10px;
      margin: 15px;
      margin-right: 40px;
      margin-top: 40px;
    }
    .mini a{
      color: white;
      text-decoration: none;
      margin: 15px;


    }
    .mini a:hover{
      text-decoration: underline;
    }
    .maxi{
      width: 800px;
      height: 280px;
      color: white;
    }

    .maxi p{
      font-size: 34px;
      margin: 15px;
      margin-top: 25px;

    }
    .maxi h4{
      font-size: 10px;
      margin: 15px;
      margin-right: 40px;
      margin-top: 40px;
    }
    .maxi a{
      color: white;
      text-decoration: none;
      margin: 15px;


    }
    .maxi a:hover{
      text-decoration: underline;
    }

    .mini:hover,.maxi:hover { background: rgba(232,95,76,5.3); } /* при наведении курсора мышки */
    .mini:active,.maxi:active { background: rgba(152,15,0,5.3); } /* при нажатии */
    .first{
      background-color: #f5979c;
    }
    .second{
      background-color: #615e7d;
    }
    .third{
      background-image: url(images/third.png);
    }
    .fourth{
      background-color: #bc8cbe;
    }
    .fifth{
      background-image: url(images/fifth.png);
    }
    .sixth{
      background-color: #81c99c;
    }
    .seventh{
      background-image: url(images/seventh.png);
    }

  .main-list{
    display:flex;
    margin-top: 300px;
    width: 1210px;
    height: 230px;
  }
    .title{
      color: black;
      font-size: 54px;
      position: relative;
      top: 200px;
      align-self: flex-start;
      left: 300px;

    }
    .web{
      width: 300px;
      height: 230px;

    }
    .performance{
      width: 300px;
      height: 230px;

    }
    .clultral{
      width: 300px;
      height: 230px;

    }
    .sustainability{
      width: 300px;
      height: 230px;

    }
    .content p{
      font-weight: bold;
      margin-bottom: 10px;

    }

    .content h4{
      margin-right: 50px;
    }

.full-image{
  width: 1800px;
  height: 868px;
  border-bottom:1px dotted black;
  background-image: url(images/full-image.png);
}

  .full-image p
  {
    position: relative;
    top: 500px;
    left: 350px;
    font-size: 46px;
    color: white;

  }

  .full-image h4{
    position: relative;
    top: 500px;
    left: 350px;
    font-size: 10px;
    color: white;
  }

  .full-image a{
    position: relative;
    top: 520px;
    left: 350px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .full-image a:hover{
    text-decoration: underline;
  }

.colour{
  width: 1800px;
  height: 537px;
  background: #81c99b;
  color: white;

}
.title-colour{
  color: white;
  font-size: 34px;
  position: relative;
  top: 150px;
  left: 23%;
}
.content-colour{
  position: relative;

  left: 35%;
  margin-right: 50px;

}

.colour-list{
  display:flex;
  margin-top: 200px;
  width: 1210px;
  height: 230px;
}



.buy{
  width: 1800px;
  height: 628px;
  background: #f6f7fa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

  .buy-now{
    box-sizing: border-box;
    width: 570px;
    height: 380px;
    padding: 47px 94px 58px 54px;
    background: #f6f7fa;
  }

  .buy-now:hover{
    background: white;
  }

    .legacy{

      width: 77px;
      height: 24px;
      background: #e1e1e1;
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      color: white;
      margin-bottom: 24px;
      font-size: 8px;
      line-height: 24px;
    }
    .legacy:hover{
      background: #bd8bbf;
    }
    h3{
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .popular{

      width: 87px;
      height: 24px;
      background: #e1e1e1;
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      color: white;
      margin-bottom: 24px;
      font-size: 8px;
      line-height: 24px;
    }
      .popular:hover{
        background: #bd8bbf;
      }
    }
    .buy-text{
      font-size: 22px;
      font-weight: 200;
      margin-bottom: 20px;
    }
    h4{
      font-size: 8px;
      line-height: 16px;
    }
    .button{
      display: block;
      color: #fff;
      text-decoration: none;
      user-select: none;
      background: #81c99b;
      padding: .7em 1.5em;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 150px;
      text-align: center;
      vertical-align: middle;
      box-sizing: border-box;
      font-size: 15px;

}
    a.button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
    a.button:active { background: rgb(152,15,0); } /* при нажатии */



.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1800px;
  height: 608px;
  background-color: #192331;
}
  .footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1233px;
    height: 372px;
    }

    .left-column{
      width: 633px;
      height: 372px;

    }
     h5{
      font-size: 8px;
      color: white;
      margin-top: 20px;
      line-height: 16px;
      margin-right: 50px;
    }

    .left-column-list{
      display: flex;
      justify-content: space-around;
      padding: 20px;
    }

    .left-column-list ul{
      margin-top: 20px;
    }

    .left-column-list li{
      color: white;
      font-size: 8px;
      padding: 5px;
    }

    h1{
      color: white;
      font-size: 8px;
      font-weight: bold;
    }
      .resources{
        width: 118px;
        height: 157px;

      }
      .features{
        width: 118px;
        height: 157px;

      }
      .how{
        width: 118px;
        height: 157px;

      }
    .right-column{
      width: 633px;
      height: 372px;
    }

    .form{
      width: 470px;
      height: 60px;
      background-color: white;
      margin-top: 20px;
    }
    h6{
      font-size: 8px;
      color: #57697f;
      margin-top: 10px;
    }
    .form{
      display: flex;
      justify-content: flex-end;
    }
    input{
      width: 397px;
      height: 54px;
      background-color: #e6e3e3;
    }
    .button-ok{
      color: #fff;
      text-decoration: none;
      user-select: none;
      background: #81c99b;
      width: 90px;
}
      button{
        width: 90px;
        height: 60px;
        background: #81c99b;

      }
      .button span{
        width: 90px;
      
        color: white;
      }
