@font-face {
  font-family: 'MyriadPro-Regular';
  src: url(fonts/MyriadPro-Regular);}

body{
  width: 1240px;
  height: 1754px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'MyriadPro-Regular',serif;
}


.content{
  width: 1240px;
  height: 1692px;
  display: flex;


}


.left-column{
  width: 550px;
  height: 1692px;
  background-color: white;
  display: flex;
  flex-direction: column;

}

.right-column{
  width: 690px;
  height: 1692px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.photo{
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

    .image{
      width: 234px;
      height: 234px;
      border-radius: 203px;
      background-color: white;
      border: 5px solid #3d6cb0;
      display: flex;
      justify-content: center;
      align-items:center;

          }
    .circle{
      width: 203px;
      height: 203px;
      border-radius: 203px;
      background-color: #3d6cb0;

    }

    .surname{
      width: 292px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    p:first-child {
      font-size: 37px;
    }
    p:nth-child(2) {
      font-size: 37px;
      font-weight: bold;
    }
    p:last-child{
      font-size: 17px;
    }
.profile{
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 60px;
}
  .icon-line{
    display: flex;

  }
  .section{
    width: 100%;
    font-size: 27px;
    font-weight: bold;
    color: #3d6cb0;
    display: flex;
    justify-content: center;
    align-items: center;

  }
    h3{
      margin-left: 13px;

    }
    h3::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 10px;
    width: 168px;
    height: 5px;
    background-color:#3d6cb0;
  }


.contacts{
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 60px;
}
  .description{
    display: flex;
    margin-top: 20px;

  }
  .type{
    width: 100px;
    height: 200px;


  }
    .type li{
    display: block;
    width: 110px;
    height: 40px;
    margin-top: 10px;
    color: #3d6cb0;
    font-size: 15px;
    font-weight: bold;
  }
  .title{
    width: 209px;
    height: 200px;

  }
  .title li{
  display: block;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;

}

.skills{
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 60px;
}
  .skills-content{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .skills-content li{
    margin: 10px;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
  }
  .elipse{
    display: inline-block;
    width:20px;
    height: 20px;
    border-radius: 20px;
    background-color: #3d6cb0;
    margin-top: 10px;
  }
.education{
  height: 759px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 60px;

}
  .education-content{
    width: 600px;
    height: 620px;
    margin-top: 20px;
  }
  .education-content li{
    font-size: 18px;
    color: #3d6cb0;
    font-weight: bold;
    height: 132px;
    margin-bottom: 14px;
    list-style-type: disc;

  }

  .education-content span{
    color: black;
    font-weight: normal;
    margin-bottom: 14px;
  }
  .education-content p{
    color: black;
    font-weight: normal;
    margin-bottom: 14px;

  }
  h4{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 14px;
  }

.experience{
  height: 561px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 60px;
}

.experience-content li{
  font-size: 18px;
  font-weight: bold;
  height: 132px;
  margin-bottom: 14px;
  list-style-type: disc;

}

.experience-content span{
  color: black;
  font-weight: normal;
  margin-bottom: 14px;
}
.experience-content p{
  color: black;
  font-weight: normal;
  margin-bottom: 14px;

}
h5{
  font-size: 18px;
  font-weight: lighter;
}
.software{
  height: 372px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 60px;
}

  .software-content{
    width: 650px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .column{
    width: 325px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .column li{
    margin-top: 20px;
    font-weight: bolder;
  }

  progress{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:  white;

  }

  progress::-webkit-progress-bar {
  background-color:  #e6e6e6;
  width: 300px;
}
progress::-webkit-progress-value {
  background-color:  #3d6cb0;
}


}
.text{
  width: 410px;
  margin-top: 20px;

}

@media screen and (max-width: 700px) {
  body{width: 700px;
    height: 3500px;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 700px;
  }

  progress::-webkit-progress-bar {
  background-color:  #e6e6e6;
  width: 600px;
}
  .software-content{
    width: 650px;
    height: 250px;
    display: block;
  }
  .photo,
  .skills-content{
    margin-left: 120px;
  }
}
