$font-text: 'Open Sans', sans-serif
$font-title: 'Source Sans Pro', sans-serif
$green: #19bd9a
$gray: #81868e
$light: #b2b3b3
$dark: #464646
$title: #333b46
$text: 14px
body
  font-family: $font-text
.main
  background-image: url(../img/main-bg.jpg)
  background-size: cover
  &-header
    display: flex
    justify-content: space-between
    width: 100%
    margin-top: 47px
    & li
      display: inline-block
      & a
        color: white
        text-decoration: none
        margin-right: 10px
        font-size: 16px
        &:hover
          padding: 5px 20px
          border: 1px solid white
          border-radius: 15px
          font-weight: bold
          transition: 0.5s
          transform-origin: center top
  &-menu_hidden
    display: none
    & .menu-btn
      display: block
      width: 30px
      height: 30px
      background-color: white
      border-radius: 50%
      position: relative
      & span
        position: absolute
        top: 50%
        margin-top: -1px
        left: 50%
        margin-left: -8px
        width: 16px
        height: 2px
        background-color: $dark
        &::before,
        &::after
          content: ''
          position: absolute
          top: 50%
          margin-top: -1px
          left: 50%
          margin-left: -8px
          width: 16px
          height: 2px
          background-color: $dark
          transition: 0.5s
        &::before
          transform: translateY(-5px)
        &::after
          transform: translateY(5px)
    & .menu-btn_active span::before
      transform: rotate(-35deg )
      width: 10px
      transform-origin: left bottom
    & .menu-btn_active span::after
      transform: rotate(35deg )
      width: 10px
      transform-origin: left top
  &-title
    text-align: center

    & h1
      color: white
      font-size: 35px
      font-family: $font-title
      text-transform: uppercase
      margin-top: 228px
      line-height: 70px
      & span
        color: white
        margin-bottom: 220px
        font-size: 16px
        font-family: $font-text
        display: block
        text-transform: none
        line-height: 28px
  &-circle
    display: flex
    justify-content: center
    & .circle
      width: 36px
      height: 36px
      border-radius: 36px
      background-color: $green
      display: flex
      align-items: center
      justify-content: center
      margin-bottom: 77px
      &:hover
        background-color: darken($green, 10%)
.aboutus
  &-content
    display: flex
    justify-content: space-around
  & h2
    font-size: 20px
    font-weight: 300
    letter-spacing: 4px
    line-height: 12px
    text-align: left
    color: $title
    font-family: $font-title
    text-transform: uppercase
    margin-top: 115px
    margin-left: 100px
    margin-bottom: 25px
  & span
    font-size: $text
    font-weight: 400
    line-height: 25px
    text-align: left
    color: $gray
    font-family: $font-text
    display: block
  &-btn
    margin-top: 33px
    border-radius: 20px
    width: 140px
    height: 37px
    background-color: white
    border: 1px solid $dark
    &:hover
      background-color: darken(white, 10%)
  &-image
      margin-top: 100px
      margin-bottom: 57px

.title
  & h2
    font-size: 20px
    font-weight: 300
    letter-spacing: 4px
    line-height: 12px
    text-align: left
    color: $title
    font-family: $font-title
    text-transform: uppercase
    text-align: center
    margin-bottom: 41px
    padding-top: 80px
  & span
    font-size: $text
    font-weight: 400
    line-height: 25px
    text-align: center
    font-family: $font-text
    color: $gray
    text-align: center
    display: block
    margin-bottom: 60px
.details
  background-color: #f3f3f3
  &__icons
    display: flex
    justify-content: center
    margin-bottom: 61px
  &__block
    margin-bottom: 101px
    & h3
      font-size: 20px
      font-weight: 400

      text-align: left
      color: $dark
      font-family: $font-text
    & span
      font-size: $text
      font-weight: 400
      line-height: 25px
      text-align: left
      color: $gray
      font-family: $font-text
.circle
  width: 53px
  height: 53px
  border-radius: 50%
  background-color: $gray
  display: flex
  justify-content: center
  align-items: center
  margin: 0 13px
  &:hover
    background-color: $green

.projects__block
  background-size: cover
  height: 319px
  margin-bottom: 113px
  

  &:nth-child(1)
    background-image: url(../img/project-first.jpg)


  &:nth-child(2)
    background-image: url(../img/project-second.jpg)
  &:nth-child(3)
    background-image: url(../img/project-third.jpg)

.services__content
  padding-bottom: 145px
.services
  background-color: #f3f3f3
  & .left-content
    display: flex
  &__circle
    margin-bottom: 17px
  & .right-column
    & h3
      font-size: 20px
      font-family: $font-text
      color: $dark
      font-weight: bold
      margin-left: 20px
      margin-bottom: 40px


    & span
      font-size: 16px
      font-family: $font-text
      color: $gray
      margin-left: 20px
      margin-bottom: 40px
      display: block

  & .right-content
    display: flex

    align-items: center
.prg
  & h5
    text-align: center
    font-size: 16px
    color: $gray
    font-family: $font-text
    line-height: 45px
// Круглые прогрессы
$diameter: 122px
$darkgreen: #047378
$progress: 250 // Угол
$progresssecond: 270 // Угол
$progressthird: 310 // Угол
$border: 10px
.progress1,
.progress2,
.progress3
  position: relative
  margin: 0px 10px
  width: $diameter
  height: $diameter
  border-radius: 50%
  background-color: $green
  &::before
    position: absolute
    content: ''
    @if $progress > 180
      background-color: $green

    @if $progress <= 180
      background-color: $darkgreen

    width: $diameter
    height: $diameter
    border-radius: 50%
    clip: rect(0, #{$diameter/2}, $diameter, 0)
    transform-origin: 50% 50%
    @if $progress <= 180
      transform: rotate(#{180 + $progress}deg)

    @if $progress > 180
      transform: rotate(#{180 + $progress - 180}deg)
      z-index: 1

  &::after
    position: absolute
    content: ''
    background-color: $darkgreen
    width: $diameter
    height: $diameter
    border-radius: 50%
    clip: rect(0, #{$diameter/2}, $diameter, 0)
    transform-origin: 50% 50%
    transform: rotate(180deg)

  .center
    position: absolute
    top: $border
    left: $border
    width: #{$diameter - 2 * $border}
    height: #{$diameter - 2 * $border}
    background-color: white
    border-radius: 50%
    z-index: 2
    display: flex
    justify-content: center
    align-items: center
    font-size: 25px
    font-family: $font-text
    font-weight: 400
    color: $gray
    & span
      font-size: 15px
.progress2
  &::before
    position: absolute
    content: ''
    @if $progresssecond > 180
      background-color: $green

    @if $progresssecond <= 180
      background-color: $darkgreen

    @if $progresssecond <= 180
      transform: rotate(#{180 + $progresssecond}deg)

    @if $progresssecond > 180
      transform: rotate(#{180 + $progresssecond - 180}deg)
.progress3
  &::before
    position: absolute
    content: ''
    @if $progressthird > 180
      background-color: $green

    @if $progressthird <= 180
      background-color: $darkgreen

    @if $progressthird <= 180
      transform: rotate(#{180 + $progressthird}deg)

    @if $progressthird > 180
      transform: rotate(#{180 + $progressthird - 180}deg)

.team
  background-image: url(../img/BG-dark.jpg)
  background-size: cover
  .team__content
    padding-bottom: 80px
    padding-left: 100px

    & h3
      color: #f3f3f3
      font-size: 20px
      font-family: $font-title
      text-transform: uppercase
      padding-top: 80px
      padding-bottom: 59px
    & span
      color: $gray
      font-family: $font-text
      font-size: 16px
      display: block
    & strong
      color: #a4a5a5
.team__image
  position: relative
  & img

    position: relative
    bottom: 10%
.portfolio
  background-color: #f3f3f3
.portfolio__list
  & ul
    display: inline-block
  & li
    list-style: none
    font-size: 16px
    font-family: $font-text
    color: $gray
    margin-right: 17px
    display: inline-block
    padding-bottom: 50px
    &::after
      content: ''
      width: 100%
      height: 2px
      background-color: $green
      display: block
      transform: translateY(20px) scale(0)
      transition: all 0.2s
    &:hover
      text-decoration
      &::after
        transform: translateY(20px) scale(1)

.portfolio__galery
  & img
    margin-bottom: 15px
.portfolio__wrap
  position: relative
.wrap__text
  position: absolute
  top: 0
  height: 96%
  text-align: left
  background: rgba(0, 0, 0, 0.8)
  transform: scale(0)
  & .line
    width: 24px
    height: 1px
    background-color: $green
    margin-left: 10%
  & h4
    margin-top: 5%
    margin-left: 10%
    color: $green
    font-size: 20px
    font-family: $font-title
    text-transform: uppercase
    opacity: 1
  & span
    color: $gray
    font-size: 12px
    font-family: $font-text
    display: block
    padding: 10%
  & .circle__portfolio, .circle__portfolio1
    display: inline-block
    margin-left: 10%
    width: 29px
    height: 28px
    border-radius: 50%
    background-color: black
    margin-top: 3%
    &:hover
      background-color: lighten(black, 10%)
    & img
     margin-bottom: 0px
     margin-left: 25%
  & .circle__portfolio1
    margin-left: 0px

.portfolio__wrap:hover .wrap__text
  transform: scale(1)
  transition: 1s

.picture-column
  display: flex
  flex-direction: column
  align-items: center

.skills
  padding-bottom: 170px
.skills-data
  padding-top: 5%
  & h4
    color: $dark
    font-size: 20px
    font-family: $font-text
    text-align: right
  & h5
    font-size: $text
    color: $gray
    font-family: $font-title
    font-style: italic
    text-align: right
  & span
    font-size: $text
    color: $gray
    font-family: $font-title
    text-align: right
    display: block

progress
  height: 4px
  background-color: #00FEFD
  width: 80%
  margin-left: 20%
progress::-webkit-progress-value
  background-color: $green
progress::-webkit-progress-bar
  background-color: #e1e4e9

.skills-progress
  display: flex
  justify-content: space-between
  margin-left: 20%
  margin-top: 5%
  & span
   display: inline-block
   margin-bottom: -10px

.testimonials
 background-color: #f3f3f3
 padding-bottom: 91px

.testimonials__content
 background-color: white
 display: flex
.testimonials__img
  padding: 52px 50px 134px 101px
  & img
    border-radius: 50%

.testimonials__text
  padding-top: 59px
  padding-right: 116px
  & span
    color: $gray
    font-family: $font-text
    font-size: 16px
    display: block
  & strong
    color: $green
    font-size: 16px
    display: block
    padding: 10px 0px
.testimonials__text span:nth-child(3)
  color: $dark
  font-size: $text
  font-family: $font-text

.news
  background-image: url(../img/BG-news.png)
  background-size: cover

.news__title
  margin-left: 5%

  & h2
   text-align: left
   color: #f3f3f3
  & span
    text-align: left
    color: $light
.news__content
  width: 50%
  padding-left: 15%
  padding-bottom: 10%
  & span
    display: block
    font-family: $font-text
    padding-bottom: 5px
  & h4
    color: #e1e4e9
    font-size: 20px
    font-family: $font-text
.news__content span:nth-child(2)
  color: #3b3d40
  text-transform: uppercase
  & span
    color: $green
    display: inline-block
    font-style: italic

.news__content span:nth-child(3)
  color: $dark
  font-size: $text
  font-weight: 300
  font-family: $font-title
.news__content span:nth-child(4)
  color: $gray
  font-size: $text

.price
  background-color: #f3f3f3
  padding-bottom: 100px
.price__block
  background-color: white
  margin-bottom: 20px
  overflow: hidden
  height: 320px
  position: relative
  & h5
    text-transform: uppercase
    color: white
    font-size: 20px
    background-color: $green
    text-align: center
    font-family: $font-text
    padding: 23px 0px
    font-weight: 700
  & h4
    text-transform: uppercase
    font-size: 43px
    text-align: center
    font-family: $font-text
    font-weight: 700
    color: $green
    padding-top: 43px
  & span
    font-size: 20px
    font-family: $font-text
    color: $gray
    display: block
    padding-bottom: 125px
    text-align: center
    margin-top: -15px
.block__content_hidden
  padding: 10px 0px
  display: block
  position: relative
  top: 100%
  & span
    font-size: $text
    padding: 5px
    margin-top: 5px
  & .price__btn
    background-color: $green
    text-align: center
    padding: 23px 0px
    color: white
    margin-top: 20px
    margin-bottom: -10px
    font-size: 16px
    cursor: pointer
    width: 100%
    border: none
    &:hover
      background-color: darken($green, 10%)

.price__block:hover .block__content
 display: none
.price__block:hover .block__content_hidden
 // display: block
 top: 0%
 transition: 1s
 position: relative


.subscribe
  background-image: url(../img/BG-subscribe.jpg)
  background-size: cover
  display: flex
  padding-bottom: 100px
  &__title
    & h2
      color: white
  &__email
    width: 30%
    background-color: transparent
    display: inline-block
    color: #cfd3d4
    margin-left: 5px
    font-size: $text
  &__btn
    display: inline-block
    width: 15%
    color: white
    background-color: $green
    padding: 7px
    font-size: $text
    transform: translateY(-1px)
    &:hover
     background-color: darken($green, 10%)

.contacts
  background-color: #f3f3f3
  padding-bottom: 100px
  & img
    width: 100%
  & h4
    color: $dark
    font-size: 16px
    font-family: $font-text
    text-align: center
    padding: 30px 0px
  & span
    color: $gray
    font-size: $text
    font-family: $font-text
    text-align: center
    display: block
  &__info
    background-color: white
    padding-bottom: 30px
  &__block
    margin-bottom: 20px

.big-form
  padding: 100px 0px
  &__area
    margin: 30px 0px
    // border-radius: 15px
  &__button
    padding: 10px 0px
    background-color: $green
    color: white
    font-family: $font-text
    font-size: 16px
    border: none


.scrollup
  width: 40px
  height: 40px
  opacity: 0.3
  position: fixed
  bottom: 50px
  right: 100px
  display: none
  text-indent: -9999px
  background: url(../img/icon_top.png) no-repeat

.contacts__wrap
  position: relative
.contacts__wrap img:nth-child(2)
  position: absolute
  width: 40px
  height: 40px
  top: 0
  left: 0
  margin-top: 18%
  margin-left: 50%
  transform: translateX(-20px) scaleY(0)
.contacts__wrap:hover img:nth-child(2)
  transform: translateX(-20px) scaleY(1)
  transition: 0.5s




@media screen and (max-width: 1000px)
  .main-menu_hidden
    display: block
  .main-list
    display: none
  .subscribe
    flex-direction: column
    &__btn
      display: block
      width: 30%
      margin-left: 35.3%
      margin-top: 10px
  .aboutus-content, .title, .details, .right-column, .team__content, .skills, .news__content, .price__block, .block__content_hidden, .subscribe__email, .subscribe__btn, .contacts
   & h2
     font-size: 22px
   & span
     font-size: 18px
   & h3
     font-size: 22px
   & h4
     font-size: 22px
   & h5
     font-size: 22px
