@font-face {
  font-family: 'BigNoodle';
  src: url("../fonts/BigNoodle.ttf"); }

.header {
  height: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logo span {
    font-size: 40px;
    margin-left: 24px;
    font-family: 'BigNoodle',sans-serif;
    color: #696969; }

.nav {
  width: 40px;
  height: 40px; }
  .nav .line {
    width: 41px;
    height: 2px;
    background-color: #696969; }

.main-title {
  height: 708px;
  background-color: #353535; }
  .main-title .main-title__text {
    height: 708px;
    text-align: center;
    height: 708px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-title .main-title__text h1 {
      font-family: 'BigNoodle',sans-serif;
      font-size: 72px;
      color: #d6d5d5;
      margin-top: 20%; }
    .main-title .main-title__text span {
      font-family: 'BigNoodle',sans-serif;
      font-size: 36px;
      color: #d6d5d5; }
    .main-title .main-title__text .mouse {
      height: 37px;
      width: 18px;
      margin-top: 20%; }
    .main-title .main-title__text h5 {
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      color: white; }

.aboutus .aboutus__blocks {
  margin-bottom: 117px;
  width: 100%; }
  .aboutus .aboutus__blocks .aboutus__block {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .aboutus .aboutus__blocks .aboutus__block .aboutus__image {
      width: 51px;
      height: 58px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .aboutus .aboutus__blocks .aboutus__block .title__aboutus {
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      color: #707070; }
    .aboutus .aboutus__blocks .aboutus__block .text__aboutus {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: #707070; }

.aboutus__title {
  height: 140px;
  width: 100%;
  text-align: center;
  margin: 90px auto; }
  .aboutus__title h2 {
    font-family: 'BigNoodle',sans-serif;
    font-size: 48px;
    color: #3d3d3d; }
  .aboutus__title span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d; }
  .aboutus__title .orange {
    margin-top: -20px;
    width: 153px;
    height: 2px;
    background-color: #f15324; }

.media {
  background-color: #171f23; }
  .media .media__content, .media .media__video {
    height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .media .media__content strong {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif; }
  .media .media__content span {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #696969; }
  .media .media__content button {
    width: 128px;
    height: 38px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background: #e64e40;
    color: white; }

.works .works__list ul {
  display: inline-block; }

.works .works__list li {
  list-style: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #696969;
  font-weight: lighter;
  margin-right: 17px;
  display: inline-block;
  padding-bottom: 20px; }
  .works .works__list li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #f15324;
    display: block;
    -webkit-transform: translateY(20px) scale(0);
    -ms-transform: translateY(20px) scale(0);
    transform: translateY(20px) scale(0);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .works .works__list li:hover::after {
    -webkit-transform: translateY(20px) scale(1);
    -ms-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1); }

.works__title {
  margin: 90px auto; }

.empty {
  height: 525px;
  background-color: #e64e40; }

.gallery {
  height: 245px;
  background-color: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .gallery img {
    display: block;
    margin: 0 auto; }

.account, .skills {
  height: 440px; }

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ebebeb; }
  .account .photo {
    width: 134px;
    height: 134px;
    background-color: #f26c4f;
    border-radius: 134px;
    margin-bottom: 30px; }
  .account strong {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
    font-weight: bold; }
  .account span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
    font-weight: lighter;
    margin-bottom: 22px; }
  .account img {
    display: inline-block;
    margin-bottom: 40px; }
  .account .nav-circle {
    width: 70px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .account .nav-circle span {
      width: 11px;
      height: 11px;
      border-radius: 11px;
      background-color: #ffffff;
      display: block; }
      .account .nav-circle span:hover {
        background-color: #957e7d;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }

.skills {
  background-color: #ebebeb; }
  .skills strong {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
    font-weight: bold;
    margin-top: 120px;
    display: block;
    margin-left: 82px; }
  .skills span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
    font-weight: lighter;
    margin-bottom: 42px;
    display: block;
    margin-left: 82px; }
  .skills h3 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
    font-weight: 900; }
  .skills h4 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d; }
  .skills .values {
    margin-top: 10px;
    margin-left: 82px;
    margin-right: 50px; }

.progress-line {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px; }

progress {
  height: 1px;
  background-color: #00FEFD;
  width: 100%; }

progress::-webkit-progress-value {
  background-color: #e64e40; }

progress::-webkit-progress-bar {
  background-color: white; }

.profile__section {
  margin-bottom: 105px; }

.features {
  background-color: #171f23; }
  .features h2 {
    color: #e3d8d7;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 60px auto; }

.features__block {
  height: 220px;
  margin-bottom: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .features__block .image {
    width: 65px;
    height: 65px; }
  .features__block span {
    color: #e3d8d7;
    display: block;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 30px auto; }
  .features__block strong {
    color: #f3e7e6;
    display: block;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter; }

.blog {
  margin-bottom: 120px; }

.line-gray {
  width: 87px;
  height: 2px;
  background-color: #404040;
  display: block;
  margin-top: 15px; }

.plan__block {
  margin-bottom: 90px; }
  .plan__block:hover {
    border: 1px solid #f5734b; }
  .plan__block .block__title {
    height: 135px;
    background-color: #0e1316;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .plan__block .block__title strong {
      color: #ffffff;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      display: block; }
    .plan__block .block__title span {
      font-size: 36px;
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
      color: #ffffff;
      display: block; }
      .plan__block .block__title span h5 {
        font-size: 24px;
        display: inline-block; }
  .plan__block .block__content {
    height: 320px;
    background-color: #322e31;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .plan__block .block__content span {
      color: #ffffff;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
      display: block;
      margin-bottom: 20px; }
      .plan__block .block__content span:nth-child(4) {
        margin-bottom: 70px; }
      .plan__block .block__content span strong {
        font-weight: bold; }
    .plan__block .block__content .btn__block {
      background-color: #f3724d;
      color: #ffffff;
      width: 50%;
      margin: 0px auto; }

.plan__block:hover .block__content strong {
  color: #f5734b; }

.info__input, .info__textarea {
  border: none;
  border-bottom: 1px solid #cacaca; }

.info__label {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #696969; }
  .info__label span {
    color: #f3724d; }

.form__button {
  color: #ffffff;
  background-color: #f6744b;
  height: 50px;
  border: none;
  margin-top: 60px;
  margin-bottom: 60px; }

.locate {
  background-color: #0c1215;
  height: 84px; }
  .locate h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-top: 31px; }

.footer {
  background-color: #171f23; }
  .footer .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 45px auto; }
    .footer .footer__content span {
      font-family: 'BigNoodle',sans-serif;
      font-size: 24px;
      color: #ffffff; }
    .footer .footer__content span:nth-child(3) {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: #ffffff; }

.card__image {
  position: relative; }
  .card__image span {
    position: absolute;
    bottom: 25%;
    left: 35%;
    display: none; }
  .card__image:hover span {
    display: block; }
