@font-face

  font-family: 'BigNoodle'

  src: url('../fonts/BigNoodle.ttf')





.header
  height: 143px
  display: flex
  align-items: center
.logo
  display: flex
  align-items: center
  & span
    font-size: 40px
    margin-left: 24px
    font-family: 'BigNoodle',sans-serif
    color: #696969
.nav
  width: 40px
  height: 40px

  .line
    width: 41px
    height: 2px
    background-color: #696969

.main-title
  height: 708px
  background-color: #353535
  .main-title__text
      height: 708px
      text-align: center
      height: 708px
      text-align: center
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      & h1
        font-family: 'BigNoodle',sans-serif
        font-size: 72px
        color: #d6d5d5
        margin-top: 20%
      & span
        font-family: 'BigNoodle',sans-serif
        font-size: 36px
        color: #d6d5d5
      .mouse
        height: 37px
        width: 18px
        margin-top: 20%
      & h5
        font-size: 12px
        font-family: 'Roboto', sans-serif
        color: white
.aboutus

  .aboutus__blocks
    margin-bottom: 117px
    width: 100%
    .aboutus__block
      height: 200px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      .aboutus__image
        width: 51px
        height: 58px
        display: flex
        align-items: center
        justify-content: center
      .title__aboutus
        font-size: 18px
        font-family: 'Roboto', sans-serif
        color: #707070
      .text__aboutus
        font-size: 14px
        font-family: 'Roboto', sans-serif
        color: #707070
.aboutus__title
  height: 140px
  width: 100%
  text-align: center
  margin: 90px auto


  & h2
    font-family: 'BigNoodle',sans-serif
    font-size: 48px
    color: #3d3d3d
  & span
    font-size: 14px
    font-family: 'Roboto', sans-serif
    color: #3d3d3d

  .orange
    margin-top: -20px
    width: 153px
    height: 2px
    background-color: #f15324
.media
  background-color: #171f23
  .media__content,.media__video
    height: 430px
    display: flex
    flex-direction: column
    justify-content: center
  .media__content strong
    color: white
    font-size: 30px
    font-family: 'Roboto', sans-serif
  .media__content span
    color: white
    font-size: 14px
    font-family: 'Roboto', sans-serif
    color: #696969
  .media__content button
    width: 128px
    height: 38px
    align-self: center
    background: #e64e40
    color: white
.works
  .works__list


    & ul
      display: inline-block

    & li
      list-style: none
      font-size: 14px
      font-family: 'Roboto', sans-serif
      color: #696969
      font-weight: lighter
      margin-right: 17px
      display: inline-block
      padding-bottom: 20px
      &::after
        content: ''
        width: 100%
        height: 2px
        background-color: #f15324
        display: block
        transform: translateY(20px) scale(0)
        transition: all 0.2s
      &:hover
        text-decoration
        &::after
          transform: translateY(20px) scale(1)

.works__title
  margin: 90px auto
.empty
  height: 525px
  background-color: #e64e40

.gallery
  height: 245px
  background-color: #1c1c1c
  display: flex
  align-items: center
  & img
    display: block
    margin: 0 auto
.account, .skills
 height: 440px
.account

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: #ebebeb

  .photo
    width: 134px
    height: 134px
    background-color: #f26c4f
    border-radius: 134px
    margin-bottom: 30px
  & strong
    font-size: 20px
    font-family: 'Roboto', sans-serif
    color: #3d3d3d
    font-weight: bold
  & span
    font-size: 14px
    font-family: 'Roboto', sans-serif
    color: #3d3d3d
    font-weight: lighter
    margin-bottom: 22px
  & img
    display: inline-block
    margin-bottom: 40px
  .nav-circle
    width: 70px
    height: 20px
    display: flex
    justify-content: space-around
    & span
      width: 11px
      height: 11px
      border-radius: 11px
      background-color: #ffffff
      display: block
      &:hover
        background-color: #957e7d
        transition: 0.5s
.skills
  background-color: #ebebeb

  & strong
    font-size: 24px
    font-family: 'Roboto', sans-serif
    color: #3d3d3d
    font-weight: bold
    margin-top: 120px
    display: block
    margin-left: 82px
  & span
    font-size: 14px
    font-family: 'Roboto', sans-serif
    color: #3d3d3d
    font-weight: lighter
    margin-bottom: 42px
    display: block
    margin-left: 82px
  & h3
    font-size: 14px
    font-family: 'Roboto', sans-serif
    color: #3d3d3d
    font-weight: 900
  & h4
    font-size: 14px
    font-family: 'Roboto', sans-serif
    color: #3d3d3d


  .values
    margin-top: 10px
    margin-left: 82px
    margin-right: 50px

.progress-line
  align-items: center
  display: flex
  height: 16px

progress
  height: 1px
  background-color: #00FEFD
  width: 100%
progress::-webkit-progress-value
  background-color: #e64e40
progress::-webkit-progress-bar
  background-color: white
.profile__section
  margin-bottom: 105px
.features
  background-color: #171f23
  & h2
    color: #e3d8d7
    font-size: 36px
    font-family: 'Roboto', sans-serif
    text-transform: uppercase
    display: block
    margin: 60px auto
.features__block
  height: 220px
  margin-bottom: 67px
  display: flex
  flex-direction: column
  align-items: center
  .image
    width: 65px
    height: 65px

  & span
    color: #e3d8d7
    display: block
    font-size: 18px
    font-family: 'Roboto', sans-serif
    font-weight: lighter
    margin: 30px auto
  & strong
    color: #f3e7e6
    display: block
    font-size: 48px
    font-family: 'Roboto', sans-serif
    font-weight: lighter
.blog
  margin-bottom: 120px
.line-gray
  width: 87px
  height: 2px
  background-color: #404040
  display: block
  margin-top: 15px
.plan__block

  margin-bottom: 90px
  &:hover
    border: 1px solid #f5734b
  .block__title
    height: 135px
    background-color: #0e1316
    display: flex
    flex-direction: column
    justify-content: center
    & strong
      color: #ffffff
      font-size: 14px
      font-family: 'Roboto', sans-serif
      font-weight: bold
      display: block

    & span
      font-size: 36px
      font-family: 'Roboto', sans-serif
      font-weight: lighter
      color: #ffffff
      display: block
      & h5
        font-size: 24px
        display: inline-block

  .block__content
      height: 320px
      background-color: #322e31
      display: flex
      flex-direction: column
      justify-content: center
      & span
        color: #ffffff
        font-size: 14px
        font-family: 'Roboto', sans-serif
        font-weight: lighter
        display: block
        margin-bottom: 20px
        &:nth-child(4)
          margin-bottom: 70px
        & strong
          font-weight: bold
      .btn__block
        background-color: #f3724d
        color: #ffffff
        width: 50%
        margin: 0px auto
.plan__block:hover .block__content strong
  color: #f5734b

.info__input, .info__textarea
  border: none
  border-bottom: 1px solid #cacaca
.info__label
  font-size: 14px
  font-family: 'Roboto', sans-serif
  font-weight: bold
  color: #696969
  & span
    color: #f3724d
.form__button
  color: #ffffff
  background-color: #f6744b
  height: 50px
  border: none
  margin-top: 60px
  margin-bottom: 60px
.locate
  background-color: #0c1215
  height: 84px
  & h2
    font-size: 24px
    font-family: 'Roboto', sans-serif
    font-weight: bold
    color: #ffffff
    margin-top: 31px
.footer
  background-color: #171f23
  .footer__content
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    margin: 45px auto
    & span
      font-family: 'BigNoodle',sans-serif
      font-size: 24px
      color: #ffffff
    & span:nth-child(3)
      font-size: 14px
      font-family: 'Roboto', sans-serif
      color: #ffffff
.card__image
  position: relative
  & span
    position: absolute
    bottom: 25%
    left: 35%
    display: none
  &:hover span
    display: block
