body{
  width: 1100px;
  height: 2000px;
  margin: 0 auto;}
header{
width:1100px;
background-color:#333333;
height:133px;}

.head{color: white;
font-size: 60px;
line-height: 115px;
margin-left: 70px;
}

.main-menu ul {
          margin-left: 500px;
          margin-top: -55px;
          list-style: none;
          text-align: center;
          font-size: 20px;

    }

.main-menu li {
      display: inline-block;
      margin-right: 0px;
    }

.main-menu a {
      color: white;
      text-decoration: none;
    }

p{line-height: 1px;
  }

main{margin-left: 70px;
    background-color: white;
    min-height: 500px;
    color: black;
  }

.info{
      height: 205px;
      width: 1100px;
      padding: 3px;
      text-align: left;
      display: table-cell;
      vertical-align: middle;
      font-size: 55px;

  }

.posts {
        width: 970px;
      height: 190px;
        padding: 0px;
        text-align: left;
        font-size: 33px;
        border-top: 1px dashed gray;
        border-bottom:1px dashed gray;
      color: #555555;
    }

.posts p{margin-top: 40px;}
.provide{
  font-size: 40px;
  color: #bbbbbb;}

.webdesign{
  width: 282px;
  height: 353px;
  background-color: #00aeef;
  margin-top: 46px;
  float: left;
  margin-right: 60px;
  color: white;
  text-align: center;

}

.wd{color: white;
font-size: 30px;
margin-top: 10px;
width: 150px;
height: 55px;
margin-left: 60px;
text-align: center;
line-height: 40px;
border-bottom:1px dashed white;
text-align: center;


}

.mark{color: white;
font-size: 30px;
margin-top: 10px;
width: 150px;
margin-left: 60px;
height: 55px;
line-height: 40px;
border-bottom:1px dashed white;
text-align: center;

}

.optim{color: white;
font-size: 30px;
margin-top: 10px;
width: 150px;
margin-left: 60px;
height: 55px;
line-height: 40px;
border-bottom:1px dashed white;
text-align: center;

}
.atribute{
  height: 450px;
  border-bottom: 1px dashed gray;
}
.contact{margin-top: 30px;}

.client{
  height: 457px;
  width: 500px;
  font-size: 30px;
  border-right: 1px dashed gray;
float: left;
margin-top: 30px;}

.contact{
  border-bottom: 1px dashed gray;
  height: 495px;
}
.project{
  margin-top: 30px;
  margin-left: 20px;
  float:left;
  font-size: 30px;}

.click{text-decoration: none;
font-size: 20px;
color: #00aeef;
}
footer{margin-top: 20px;
  height: 574px;
margin-left: 70px;}

a:visited{color:#1e769d;}
