html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #333333;
}

header.page-header {
  position: relative;
  z-index: 5;
  min-height: 100px;
  padding: 0px;
  color: white;
  font-size: 60px;
  }

.design p{color: blue;}

main{background-color: white;
min-height: 500px;
color: black;}

.info{min-height: 100px;
  margin: 0 20px;
  padding: 10px;
text-align: left;
font-size: 55px;}

.posts {
    min-height: 50px;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    border-top: 1px dashed gray;
    border-bottom:1px dashed gray; }

.main-menu ul {
          margin-left: 800px;
          list-style: none;
          text-align: center;
          font-size: 20px;

    }

.main-menu li {
      display: inline-block;
      margin-right: 0px;
    }
.main-menu a {
      color: white;
      text-decoration: none;
    }
