%divdimensions
  width: 100%
  max-width: 1600px
  margin: 0 auto
%flexcolumn
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.page
  @extend %divdimensions
  @extend %flexcolumn
  color: #555555
.home
  @extend %divdimensions
  height: 770px
  background-image: url(../images/home.png)
  display: flex
  flex-direction: column
  align-items: center
  &:hover


    background-image: url(../images/home1.png)
    cursor: pointer

  .home__header
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 1141px
    height: 23px
    margin-top: 40px

  .home__logo
    width: 91px
    height: 23px
    font-family: 'Montserrat', sans-serif
    font-size: 24px
    font-weight: bold
    color: white

  .home__nav
      width: 100%
      max-width: 540px
      height: 14px

  & ul
      display: flex
      justify-content: space-between

      & li
        display: inline-block
        color: white
        list-style: none
        font-size: 14px

        & a
          text-decoration: none
          color: white
          font-family: 'Montserrat', sans-serif
          font-size: 14px
          &:hover
            text-decoration: underline
.home__content
  @extend %flexcolumn
  width: 100%
  max-width: 581px
  height: 87px
  justify-content: space-around
  position: relative
  top: 283px

  .home__title
    color: white
    font-family: 'Montserrat', sans-serif
    font-size: 48px
    font-weight: bold

  .home__text
    color: white
    font-size: 20px
    font-family: 'Roboto Slab', serif

.home__button
    width: 180px
    height: 50px
    border: 3px solid white
    position: relative
    top: 350px
    display: flex
    justify-content: center
    align-items: center
    &:hover
      background-color: #58221e
    .btn
      text-decoration: none
      color: white
      font-family: 'Montserrat', sans-serif
      font-size: 16px

      &:hover
        text-decoration: underline
        font-size: 20px
.services
  @extend %flexcolumn
  justify-content: space-around
  width: 100%
  max-width: 1140px
  height: 580px

  .services__title
    width: 100%
    max-width: 600px
    height: 120px

    .services__text
      @extend %flexcolumn
      & h3
        font-family: 'Montserrat', sans-serif
        font-size: 20px
      & p

        width: 50px
        height: 2px
        background-color: #555555

      & h4
        font-size: 16px
        font-family: 'Roboto Slab', serif


.services__blocks
  display: flex
  justify-content: space-between
  width: 100%
  height: 270px

  .block
    @extend %flexcolumn
    justify-content: space-around
    width: 100%
    max-width: 380px
    height: 100%
    .block__icon1
      width: 90px
      height: 90px
      border-radius: 90px
      background-image: url(../images/icon1.png)
    .block__icon2
      width: 90px
      height: 90px
      border-radius: 90px
      background-image: url(../images/icon2.png)
    .block__icon3
      width: 90px
      height: 90px
      border-radius: 90px
      background-image: url(../images/icon3.png)

    .block__title
      width: 190px
      height: 30px
      & h3
      font-family: 'Montserrat', sans-serif
      font-size: 12px
      text-align: center
    .block__text
      padding: 10px
      box-sizing: border-box
      & h5
      font-family: 'Roboto Slab', serif
      font-size: 14px
      text-align: center
      font-weight: 100
.aboutus
  @extend %flexcolumn
  width: 100%
  height: 852px
  background-color: #f8f8f8
  .aboutus__content
    @extend %flexcolumn
    width: 100%
    max-width: 1140px
    height: 100%
    .aboutus__title
      margin-bottom: 65px
      width: 100%
      max-width: 600px
      height: 120px
    .aboutus__text,
        @extend %flexcolumn

        & h3
          font-family: 'Montserrat', sans-serif
          font-size: 20px
        & h4
          font-size: 16px
          font-family: 'Roboto Slab', serif
          text-align: center

        & p

          width: 50px
          height: 2px
          background-color: #555555
.aboutus__columns
  width: 100%
  max-width: 1140px
  height: 160px
  display: flex
  justify-content: space-around
.column
  width: 100%
  max-width: 555px
  height: 140px
  & h4
    font-size: 14px
    font-family: 'Roboto Slab', serif
    text-align: left
    font-weight: 100

.aboutus__photo
  display: flex
  justify-content: space-around
  width: 100%
  max-width: 1140px
  height: 255px
  .photo1
    width: 100%
    max-width: 263px
    height: 100%
    max-height: 250px
    background-image: url(../images/photo1.png)
    &:hover .hidden
      display: flex


  .hidden
      display: flex
      align-items: flex-end
      justify-content: center
      width: 100%
      max-width: 263px
      height: 100%
      max-height: 250px
      display: none
      opacity: 0.7
      background: rgba(154, 154, 154, 0.5)
      .angle-left
        position: relative
        bottom: 50%
        right: 60%
        &:hover
          padding: 5px
          background-color: #c0301c
      .angle-right
        position: relative
        bottom: 50%
        left: 25%

        &:hover
          padding: 5px
          background-color: #c0301c
      .hidden__logo
        display: inline-block
        margin: 5px
        margin-bottom: 30px
        &:hover
          padding: 5px
          background-color: #c0301c



  .photo2
    width: 100%
    max-width: 263px
    height: 100%
    max-height: 250px
    background-image: url(../images/photo2.png)
    &:hover .hidden
      display: flex
  .photo3
    width: 100%
    max-width: 263px
    height: 100%
    max-height: 250px
    background-image: url(../images/photo3.png)
    &:hover .hidden
      display: flex
  .photo4
    width: 100%
    max-width: 263px
    height: 100%
    max-height: 250px
    background-image: url(../images/photo4.png)
    &:hover .hidden
      display: flex
.aboutus__signature
  display: flex
  justify-content: space-around
  width: 100%
  max-width: 1140px
  height: 80px
.signature
    @extend %flexcolumn
    width: 100%
    max-width: 263px
    height: 40px
    justify-content: flex-start
    & h3
        font-family: 'Montserrat', sans-serif
        font-size: 14px
        margin: 0
    & h4
        font-size: 13px
        font-family: 'Roboto Slab', serif
        font-weight: 100
        margin: 0

.works
      @extend %flexcolumn
      width: 100%
      max-width: 1140px
      height: 1385px
      justify-content: space-around

      .works__blocks
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 100%
        height: 1150px

        %block
            width: 100%
            max-width: 360px
            height: 100%
            max-height: 320px
        .works__block1
          @extend %block
          background-image: url(../images/work1.png)
          &:hover .hidden__block
            display: flex


          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none

              background: rgba(255, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
        .works__block2
          @extend %block
          background-image: url(../images/work2.png)
          &:hover .hidden__block
            display: flex
          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none

              background: rgba(255, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
        .works__block3
          @extend %block
          background-image: url(../images/work3.png)
          &:hover .hidden__block
            display: flex
          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none

              background: rgba(250, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
        .works__block4
          @extend %block
          background-image: url(../images/work4.png)
          &:hover .hidden__block
            display: flex
          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none

              background: rgba(255, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
        .works__block5
          @extend %block
          background-image: url(../images/work5.png)
          &:hover .hidden__block
            display: flex
          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none

              background: rgba(255, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
        .works__block6
          @extend %block
          background-image: url(../images/work6.png)
          &:hover .hidden__block
            display: flex
          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none
              opacity: 0.9
              background: rgba(255, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
        .works__block7
          @extend %block
          background-image: url(../images/work7.png)
          &:hover .hidden__block
            display: flex
          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none

              background: rgba(255, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
        .works__block8
          @extend %block
          background-image: url(../images/work8.png)
          &:hover .hidden__block
            display: flex
          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none

              background: rgba(255, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
        .works__block9
          @extend %block
          background-image: url(../images/work9.png)
          &:hover .hidden__block
            display: flex
          .hidden__block
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              max-width: 360px
              height: 100%
              max-height: 320px
              display: none

              background: rgba(255, 100, 91, 0.8)
              .hidden__content
                width: 100%
                max-width: 130px
                height: 100%
                max-height: 130px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                & span
                  display: block
                .hidden__title
                  font-size: 18px
                  font-family: 'Montserrat',sans-serif
                  color: white
                .hidden__text
                  font-size: 12px
                  font-family: 'Roboto Slab',serif
                  color: white
                .hidden__btn
                  background-color: white
                  width: 100%
                  height: 100%
                  max-width: 100px
                  max-height: 40px
                  color: #c5645b
                  font-size: 14px
                  font-family: 'Roboto Slab',serif
                  border: none
                  margin-top: 10px
                  &:hover
                    font-size: 16px
                    text-decoration: underline
.works__title
  @extend %flexcolumn
  width: 100%
  max-width: 416px
  height: 92px
  .title__text
      & h6
        font-family: ﻿'Montserrat', ﻿sans-serif
        font-size: 20px

      & p
        margin: auto
        width: 50px
        height: 2px
        background-color: #555555
  .title__links
    width: 100%

  .links__list
    display: flex
    justify-content: space-around
    padding: 0
    width: 100%
    & li
      list-style: none
      & a
        text-decoration: none
        color: #555555
        font-family: 'Roboto Slab', serif
        font-size: 16px
        &:hover
          color: red
.work__picture
  position: relative
  width: 100%
  height: 369px
  background-image: url(../images/works10.png)
  @extend %flexcolumn
  justify-content: space-around
  & h2
    font-family: 'Roboto Slab', serif
    font-size: 30px
    color: white
    font-weight: 100
  &:hover .hidden__work
    display: flex

  .hidden__work
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 369px
      position: absolute
      display: block
      opacity: 0.9
      background: rgba(250, 100, 91, 0.5)
.work__button
    width: 180px
    height: 50px
    border: 3px solid white
    display: flex
    justify-content: center
    align-items: center
    position: relative
    z-index: 3
    &:hover
      background-color: #58221e
    & a
      color: white
      text-decoration: none
      font-family: 'Roboto Slab', serif
      font-size: 18px
      &:hover
        text-decoration: underline
        font-size: 20px

.picture__text
  text-align: center
  position: relative
  z-index: 3

.blog
  @extend %flexcolumn
  width: 100%
  height: 1076px

  .blog__content
    @extend %flexcolumn
    width: 100%
    max-width: 1140px
    height: 1076px
    justify-content: space-around
    .blog__title,
      text-align: center
      & h2
        font-family: ﻿'Montserrat', sans-serif
        font-size: 20px

      & h3
        font-family: ﻿'Roboto Slab',serif
        font-size: 16px

      & p
        margin: auto
        width: 50px
        height: 2px
        background-color: #555555
.post
  @extend %flexcolumn
  width: 100%
  height: 760px
  justify-content: space-between
  .post__row
      width: 100%
      height: 325px
      display: flex
      justify-content: space-around
      .post__picture1
        width: 100%
        max-width: 463px
        height: 325px
        background-image: url(../images/post1.png)
      .post__content
        width: 100%
        max-width: 642px
        height: 100%
      .post__picture2
        width: 100%
        max-width: 463px
        height: 325px
        background-image: url(../images/post2.png)
.post__title
  width: 100%
  display: flex
  justify-content: space-between
  height: 90px
  .post__date
    width: 74px
    height: 74px
    box-sizing: border-box
    border: 3px solid #555555
    display: flex
    justify-content: center
    align-items: center
    & h3
      font-size: 24px
      font-family: 'Montserrat',sans-serif
      text-align: center
      color: #555555
      & span
        font-size: 14px
  .post__item
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    width: 100%
    max-width: 547px
    height: 74px
    box-sizing: border-box
    & h3
      font-size: 16px
      font-family: ﻿'Montserrat', sans-serif
      color: #555555
      .light
        font-size: 13px
        font-family: ﻿'Roboto',serif
        font-weight: lighter
        font-style: italic
        color: #555555

.post__text h3
  font-size: 14px
  font-family: ﻿'Roboto',sans-serif
  font-weight: lighter
  line-height: 1.5
  color: #555555
.post__link
  width: 90px
  height: 12px
  & a
    font-size: 13px
    color: #555555
    font-family: ﻿'Roboto'
    font-weight: bold
    text-decoration: none
  & a:hover
    color: #782b26
.post__link a:hover .post__text h3
      color: #782b26
.red
  text-transform: uppercase

.clients
  width: 100%
  height: 477px
  @extend %flexcolumn
  background-color: #f8f8f8
  .clients__content
    width: 100%
    max-width: 1140px
    height: 100%
    @extend %flexcolumn

.clients__block
        width: 100%
        max-width: 900px
        height: 100px
        display: flex
        justify-content: space-around
        background-color: #f8f8f8
        .clients__text
          & h3
            font-size: 18px
            font-family: 'Roboto Slab',serif
          & h2
            font-size: 20px


.logo1
          width: 140px
          height: 50px
          background-repeat: no-repeat
          background-image: url(../images/logo1.png)
.logo2
          width: 140px
          height: 50px
          background-repeat: no-repeat
          background-image: url(../images/logo2.png)
.logo3
          width: 140px
          height: 50px
          background-repeat: no-repeat
          background-image: url(../images/logo3.png)
.logo4
          width: 140px
          height: 50px
          background-repeat: no-repeat
          background-image: url(../images/logo4.png)
.logo5
          width: 140px
          height: 50px
          background-repeat: no-repeat
          background-image: url(../images/logo5.png)
.clients__text
  text-align: center
  & h3
    font-size: 18px
    font-weight: lighter
    font-style: italic
  & h2
    font-size: 20px
    font-weight: lighter

.clients__circle
  width: 70px
  height: 30px
  display: flex
  justify-content: space-around
  align-items: center
  .circle
    width: 13px
    height: 13px
    border-radius: 13px
    background-color: #dddddd
  .circle:hover
    background-color: red

.contacts,.contacts__content
    width: 100%
    max-width: 1600px
    height: 665px
    display: flex
    justify-content: center
    align-items: center
    .contacts__content
      max-width: 1140px
      flex-wrap: wrap
      .contacts__title
        text-align: center
        width: 100%

        & h2
          font-family: ﻿'Montserrat', ﻿sans-serif
          font-size: 20px

        & h3
          font-family: ﻿'Montserrat', ﻿sans-serif
          font-size: 16px

        & p
          margin: auto
          width: 50px
          height: 2px
          background-color: #555555
      .address-form
        width: 100%
        height: 350px
        display: flex
        justify-content: space-around
        align-items: center
        .address
          width: 100%
          max-width: 280px
          height: 100%
          @extend %flexcolumn
          justify-content: space-around
        .form__content
          width: 100%
          max-width: 765px
          height: 100%
          @extend %flexcolumn
        .address__item
          width: 255px
          height: 90px
          display: flex

        .address__img1,.address__img2,.address__img3
          width: 20px
          height: 100px
          display: flex
          align-items: flex-start
          background-image: url(../images/contact1.png)
          background-repeat: no-repeat
          margin-right: 5px
        .address__img2
          background-image: url(../images/contact2.png)
        .address__img3
          background-image: url(../images/contact3.png)
        .address__text

          width: 100%
          height: 100px
          & h3
            font-family: ﻿'Montserrat', sans-serif
            font-size: 14px
            margin: 0px
            text-transform: uppercase
          & h4
            font-family: ﻿'Roboto Slab',serif
            font-size: 12px
            font-weight: lighter
            & a
              text-decoration: none
              color: black
              &:hover
                text-decoration: underline
                color: blue
              &:visited
                color: red
.mini-form
  max-width: 345px
  width: 100%
  height: 40px
  border: 1px solid #555555
  margin: 0px 30px 20px 0px
  padding: 14px
  box-sizing: border-box
  font-family: ﻿'Roboto Slab',serif
  font-size: 12px
  font-weight: lighter
  &:hover
    border: 1px solid #c0301c
.message
  width: 100%
  max-width: 700px
  height: 100px
  font-family: ﻿'Roboto Slab',serif
  font-size: 12px
  font-weight: lighter
  padding: 14px
  border: 1px solid #555555
  &:hover
    border: 1px solid #c0301c
.form__btn
  max-width: 165px
  width: 100%
  height: 45px
  border: 1px solid #555555
  text-align: center
  margin-top: 20px
  background-color: white
  font-family: ﻿'Roboto Slab',serif
  font-size: 12px
  font-weight: lighter
  color: #555555
  &:hover
    border: 1px solid #c0301c
    background-color: #c0301c
    color: white
.form__text
  margin-left: 35px
  color: #555555
  font-family: 'Roboto Slab',serif
  font-size: 12px
  font-weight: lighter
  .red
    color: red
.footer
  width: 100%
  max-width: 1600px
  height: 311px
  background-color: #c0301c
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  & p
    color: white
    font-size: 12px
    font-family: 'Roboto Slab',serif
  .twitter__circle
    display: flex

  .twitter
    width: 35px
    height: 35px
    border-radius: 35px
    border: 1px solid white
    margin: 15px
    background-image: url(../images/twitter.png)
    background-repeat: no-repeat
    background-position: center
  .line
    width: 50px
    height: 2px
    background-color: white
    margin: 32px
  .black__line
    width: 50px
    height: 2px
    background-color: black
@media screen and (max-width: 1000px)
  .contacts
    height: 900px
    .contacts__content
      height: 900px
      .address-form
        flex-direction: column
        align-items: center
        height: 800px
        .address
          justify-content: flex-start
          height: 300px
        .form__content
         align-items: center
         .form
           flex-direction: column
           align-items: center
           height: 550px
           & span
              display: inline-block
        .form__btn
          background-color: #c0301c
          color: white
          display: block
  .message
    width: 70%
  .services
    height: 1000px
    .services__blocks
      height: 800px
      flex-direction: column
      align-items: center
      .services__title
        width: 100%
  .aboutus
    height: 1500px
    .aboutus__columns
      height: 30%
      flex-direction: column
      align-items: center
    .aboutus__photo
      flex-direction: column
      align-items: center
      height: 60%
      width: 70%
    .aboutus__title
      width: 100%
    .aboutus__signature
      display: none
  .works
    height: 3100px
    flex-direction: column
    align-items: center
    justify-content: space-around
    .works__blocks
      height: 3000px
      justify-content: center
      align-items: center
      flex-direction: column

  .blog
    height: 1300px
    .blog__content
      height: 1200px
      justify-content: flex-start
      .post
        height: 1100px
        justify-content: center

        .post__row
          flex-direction: column
          justify-content: space-around
          height: 700px
          align-items: center
          .post__content
            margin-top: 10px
  .clients
    height: 600px
    .clients__content
      height: 600px
      .clients__block
        height: 300px
        flex-direction: column
        align-items: center
  .home__nav ul
   flex-direction: column
   align-items: flex-end
   position: relative
   right: 5%
  .home__title
    text-align: center
.mini-form
  margin: auto
