@font-face{

font-family: 'Gotham Black Regular';

src: url('fonts/Gotham Black Regular.eot');

src: url('fonts/Gotham Black Regular.eot?iefix') format('eot'),

url('fonts/Gotham Black Regular.woff') format('woff'),

url('fonts/Gotham Black Regular.ttf') format('truetype'),

url('fonts/Gotham Black Regular.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'opensanslight';

src: url('fonts/opensanslight.eot');

src: url('fonts/opensanslight.eot?iefix') format('eot'),

url('fonts/opensanslight.woff') format('woff'),

url('fonts/opensanslight.ttf') format('truetype'),

url('fonts/opensanslight.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}
@font-face{

font-family: 'opensans';

src: url('fonts/opensans.eot');

src: url('fonts/opensans.eot?iefix') format('eot'),

url('fonts/opensans.woff') format('woff'),

url('fonts/opensans.ttf') format('truetype'),

url('fonts/opensans.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}


.page{
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  height: 100%;
  max-height: 6000px;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  }
  .header__list{
    display: flex;
    margin-left: 264px;
  }
    .header__item{
        margin-right: 10px;
        box-sizing:border-box;
        padding: 5px;

    }
    .logo{
      width:50px;
      height: 50px;
    }


    .header__item:hover{
      background-color: #ffbb42;
      color: white;
      border-radius: 5px;
    }
    .header__link{
      text-decoration: none;
      color: black;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
    }
.request{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 589px;
  background-color: #709dca;
}
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
  }
    .title__item{
      color: white;
      font-size: 35px;
      font-weight: bold;
      font-family: "Gotham Black Regular",serif;
    }
    .title__text{
      color: white;
      font-size: 16px;
      font-family: "opensanslight",serif;
    }

    .form{
      display: flex;
      justify-content: space-around;
      margin-top:37px;
      width: 100%;
      max-width: 1085px;
    }
      .form__text{
        width: 282px;
        height: 45px;
        border-style: none;
        border-radius: 5px;
        font-family: "opensans",serif;
        font-size: 13px;

      }
      .form__button{
        width: 210px;
        height: 47px;
        background-color:#ffbb42;
        color: white;
        border-style: none;
        border-radius: 5px;
      }
      .form__button:hover{
        background-color: #917a50;
      }
      .form__text_human{
        background-image: url(images/human.png);
        background-repeat: no-repeat;
        background-position: 10px;



      }
      .form__text_email{
        background-image: url(images/email.png);
        background-repeat: no-repeat;
        background-position: 10px;

      }
      .form__text_telephone{
        background-image: url(images/telephone.png);
        background-repeat: no-repeat;
        background-position: 10px;

      }
    .laptop{
      position: relative;
      width: 650px;
      height: 350px;
      background-image: url(images/laptop.png);
      background-repeat: no-repeat;
      margin-top: 0px;
      top: 66px;

}
    .laptop__screen{
      background-image: url(images/screen.png);
      background-repeat: no-repeat;
      position: relative;
      left: 100px;
      top: 18px;
      width: 445px;
      height: 250px;
    }

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1700px;
  height: 878px;

}
.services__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin-top: 140px;
}
  .services__item{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: "Gotham Black Regular",serif;
  }
  .services__text{
    color: black;
    font-size: 16px;
    font-family: "opensanslight",serif;
  }
.services__content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1170px;
  height: 500px;
  margin-top: 65px;
  }
  .services__block{
    width: 100%;
    max-width: 583px;
    height: 105px;

  }
    .services__block_picture1{
      background-image: url(images/font.png);
      background-repeat: no-repeat;
    }
    .services__block_picture2{
      background-image: url(images/fully.png);
      background-repeat: no-repeat;
    }
    .services__block_picture3{
      background-image: url(images/working.png);
      background-repeat: no-repeat;
    }
    .services__block_picture4{
      background-image: url(images/retina.png);
      background-repeat: no-repeat;
    }
    .services__block_picture5{
      background-image: url(images/friendly.png);

      background-repeat: no-repeat;
    }
    .services__block_picture6{
      background-image: url(images/dollar.png);
      background-repeat: no-repeat;
    }


    .services__block-title{
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        margin-left: 85px;
    }
  .services__block-title:hover{
      color: #ffbb42;
    }
    .services__block-text{
      font-size: 13px;
      font-family: "opensanslight",serif;
      margin-left: 85px;
      padding-right:30px;
      line-height: 25px;
      margin-top: 10px;
    }
.aboutus{
  display: flex;
  width: 100%;
  max-width: 1700px;
  height: 668px;

}
  .aboutus__picture{
    width: 100%;
    max-width:850px;
    height: 100%;
    background-image: url(images/about.png);
  }
 .aboutus__content{
   width: 100%;
   max-width:850px;
   height: 100%;
   background-color: #ffc155;
 }
 .aboutus__block{
   display: flex;
   flex-direction: column;
   align-content:center;
   justify-content: center;
   width: 100%;
   max-width: 583px;
   height: 100%;
   margin-left: 55px;
 }
  .aboutus__title{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "Gotham Black Regular",serif;
  }
  .aboutus__text{
    font-size: 13px;
    font-family: "opensanslight",serif;
    color: white;
    margin-top: 30px;
    line-height: 25px;
    width: 100%;
    max-width: 504px;
  }
 .aboutus__button{
   width: 145px;
   height: 45px;
   border: 0.3px solid #9e8352;
   color: white;
   background-color: #ffc155;
   margin-top: 25px;
 }
.aboutus__button:hover{
  background-color: #917a50;
}
.price{
  width: 100%;
  max-width: 1700px;
  height: 898px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:#e7edf3;
}
.price__content{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  height: 670px;


}
.price__block{
  max-width: 380px;
  height: 440px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price__block:hover{
  padding: 15px;
  background-color: #709dca;
  color: white;
}
.price__block:hover .price__item{
  color: white;
}
.price__block:hover .price__title{
  color: white;
}
.price__item{
  border-top: 1px dotted gray;
  padding: 5px;
  width: 330px;
  text-align: center;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #818b95;
  padding: 10px;
}
.price__item_orange{
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: #ffc155;
  border: none;
}
.index{
  font-size: 30px;
  vertical-align: top;

}
.price__title{
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  color: #818b95;
}

.price__item_no-border{
  border: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  color: #818b95;
}
.price__block:hover{
  padding: 15px;
  background-color: #709dca;
  color: white;
}

.work{
  width: 100%;
  max-width: 1700px;
  height: 858px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work__content{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1170px;
  height: 500px;
  align-items: center;
}
.work__scheme{
  display: flex;
  justify-content:space-around;
  width: 100%;
  max-width: 966px;
  height: 180px;
  margin-top: 60px;

}
.work__step1{
  background-image: url(images/step1.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.work__arrow1{
  background-image: url(images/arrow1.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 100px;
  align-self: flex-end;}
.work__step2{
  background-image: url(images/step2.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.work__arrow2{
  background-image: url(images/arrow2.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 100px;}
.work__step3{
  background-image: url(images/step3.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;}
.work__step4{
  background-image: url(images/step4.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.work__text{
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1170px;
  height: 180px;
  margin-top: 60px;
}
.work__block{
  width: 100%;
  max-width: 240px;
  height: 100px;
  text-align: center;
}
.block__title{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
.block__text{
  font-family: "opensans",serif;
  font-size: 13px;
  color: #7b7b7b;
  line-height: 20px;
}

.reviews{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1700px;
  height: 908px;
  background-color: #ffbb43;
}
.reviews__block{
  width: 100%;
  max-width: 566px;
  height: 240px;
  background-color: white;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.reviews__container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  height: 490px;
}
.reviews__photo{
  width: 120px;
  height: 120px;
  border-radius: 120px;
}
.reviews__photo_face1{
  background-image: url(images/face1.png);

}
.reviews__photo_face2{
  background-image: url(images/face2.png);}
.reviews__photo_face3{
  background-image: url(images/face3.png);}
.reviews__photo_face4{
  background-image: url(images/face4.png);}

.reviews__text{
  width: 355px;
  height: 125px;
  font-family: "opensans",serif;
  font-size: 13px;
  color: #7b7b7b;
  line-height: 20px;
}
.reviews__signature{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #ffbb43;
}
.quotes{
  font-weight: bold;
  font-size: 26px;

}
.reviews__gray{
  color: #99a9ae;
}
.services__title_white{
  margin: 0px;
}
.services__text_white{
  color: white;

}
.services__item_white{
  color: white;
  margin: none;
}

.info{
  width: 100%;
  max-width: 1700px;
  height: 950px;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e3e7ec;


}
.info__form{
  width: 100%;
  height: 50px;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.info-form1{
  border: 1px solid #99a9ae;
  width: 305px;
  margin-right: 10px;
}
.info-form2{
  border: 1px solid #99a9ae;
  width: 387px;
  margin-right: 10px;
}
.info__map{
  width: 100%;
  max-width: 1170px;
  height: 650px;
  background-image: url(images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.info__circle{
  width: 278px;
  height: 278px;
  border-radius: 200px;
  background-color: #394b50;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle__text{
  width: 155px;
  height: 165px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.circle__title{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.circle__item{
  font-family: "opensans",serif;
  font-size: 13px;
  color: #aeb7ba;
}
.circle__item a, .footer__telephone a{
  text-decoration: none;
  color: #aeb7ba
}
.footer__telephone a{
  color: black;
}
.circle__item a:hover{
  color: orange;
}


.footer{
  width: 100%;
  max-width: 1700px;
  height: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__list{
  margin-top: 20px;
  margin-left: 0px;
  justify-content: center;
}


}
.footer__telephone{
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  color: #394b50;
  margin-top: 20px;
  width: 200px;

}

.form__text:hover{
  border-color: #bc3232;
}
@media screen and (max-width: 800px) {

  .services{
    height: 950px;
    justify-content: flex-start;
  }
  .services__title{
    margin-top: 50px;
  }
  .services__content{
    display: flex;
    flex-direction: column;
    height: 850px;
    align-items: center;
    margin-top: 10px;
  }
  .services__block{
    margin-bottom: 5px;
    height: 120px;
  }
  .price{
    height: 800px;
    justify-content: flex-start;
  }
  .price__content{
    display: flex;
    height: 400px;
    justify-content: space-around;
  }
  .price__block{
    width: 30%;

      }
      .price__item{
        width: 30%;
      }
  .header__list{
    margin: 0 auto;
  }
  .reviews{
    height: 1200px;
    justify-content: flex-start;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    margin-top: 0px;

  }
  .title__item{
    font-size: 20px;
  }
  .title__text{
    font-size: 10px;
  }
  .form__button{
    max-width: 282px;
    width: 100%;
  }
  .laptop{
        top: 20px;
  }
  .info__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
  }
  .form__text{
    width: 280px;
  }
}
